.btn{
    color: white;
    border:2px solid black;
    border-width: 2px;
    border-radius: 8px;
    font-size:30px ;
    font-weight: 200 ;
    cursor: grab;
    padding: 8px 24px;
}

st-btn {
    background-color: brown;
    color: aliceblue;
}