 /* button  */ 
 .btn{
    color: white;
    border:2px solid black;
    border-width: 2px;
    border-radius: 8px;
    font-size:30px ;
    font-weight: 200 ;
    cursor: zoom-in;
    padding: 8px 24px;
}

#error-btn {
    background-color: brown;
}
#success-btn {
    background-color: green;
}

.success-text{
    color: green;

}
.error-text{
    color:red;

}
